* {
    margin: 0px;
    padding: 0px;
}

.groupcommands {
     display: flex;
     flex-direction: column;
     gap: 15px;
}

.cardcommand{
 border: 1px solid gray;
 border-radius: 20px;
 width: 85vw;
 height: 20vh;
}

@media screen and (min-width: 768px) {
     .groupcommands {
       flex-direction: row;
       flex-wrap: wrap;
     }

.cardcommand{
 border: 1px solid gray;
 border-radius: 20px;
 width: calc(25% - 15px);
 height: 20vh;
 min-width: fit-content;
}
}